<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Grid</title>
</head>
<body>
    <div class="container">
        <img src="https://picsum.photos/300/300" alt="1">
        <img src="https://picsum.photos/300/300" alt="2">
        <img src="https://picsum.photos/300/300" alt="3">
        <img src="https://picsum.photos/300/300" alt="4">
        <img src="https://picsum.photos/300/300" alt="5">
        <img src="https://picsum.photos/300/300" alt="6">
        <img src="https://picsum.photos/300/300" alt="6">
    </div>
</body>
</html>