<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Responsive Card</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="card">
        <div class="circle"></div>
        <div class="content">
            <h2>Pepsi Cola</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nam doloribus sed perspiciatis placeat illo aperiam at. 
                Assumenda, ab dolor? Voluptates, dolorum placeat! Vero 
                molestiae incidunt sunt enim laborum sapiente dolorum?</p>
                <a href="#">Buy Now</a>
        </div>
        <img src="pepsi.png" alt="pepsi" >
    </div>
</body>
</html>