@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Spline+Sans:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
    /* la imgen debe tener un tamaño no mayor de 60px */
    cursor: url(img/cursor.png), auto;
}
